.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: "Playfair display";
  font-weight: 900;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: fit-content;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Playfair display";
}

.card > h2 > i {
  margin: 0 0 1rem 2px;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Playfair display";
  font-style: normal;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  font-family: "roboto slab";
}

.card button {
  font-family: "Playfair Display";
  border: none;
  background-color: transparent;
}

.accountContainer h1 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Playfair display";
}

.accountContainer h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Playfair display";
}

.accountContainer > h2 > i {
  margin: 0 0 1rem 2px;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Playfair display";
  font-style: normal;
}

.accountContainer p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  font-family: "roboto slab";
}

.accountContainer button {
  font-family: "Playfair Display";
  border: none;
  background-color: transparent;
}

.accountContainer {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: fit-content;
  overflow-y: auto;
  height: 60vh;
}

.smallHorizontalFlexContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.smallHorizontalFlexContainer input {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 40%;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
  width: 100%;
  max-height: 0%;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: space-between;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.dropdown:hover .dropdownContent {
  display: flex;
  max-height: fit-content;
  border: 1px solid #eaeaea;
}

.dropdownContent button {
  display: block;
  font-family: "roboto slab";
  color: #000000;
  margin: 5px 0px;
  border-radius: 5px;
  padding: 10px 0px;
  border: 1px solid rgba(255, 255, 255, 0);
  text-decoration: none;
  width: 100%;
}

.dropdownContent button:hover {
  border-color: #0077ff;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
